body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #303f9f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}
select {
    width: 80%;
    padding: 10px;
    margin: 0px 0;
    background-color: #e3e3e7; /* 青系の背景色 */
    color: rgb(5, 5, 5); /* 白文字 */
    border: 1px solid #ccc;
    border-radius: 4px; /* 角を丸くする */
    font-size: 16px; /* フォントサイズを大きくする */
    cursor: pointer; /* カーソルをポインターにする */
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
}

select:hover {
    background-color: #e3e3e7;/* ホバー時の色変更 */
    border: 1px solid #ccc;
}

select:focus {
    outline: none; /* フォーカス時のアウトラインを消す */
    border: 1px solid #ccc;
}

option {
    background-color: white; /* オプションの背景色 */
    color: rgb(218, 19, 19); /* オプションの文字色 */
}
